@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');


body,html {
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.page-title {
    font-size: 1.3rem;
    margin-top: 40px;
    font-weight: 500;
    margin-bottom: 55px;
}
.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

/*/ Navigation Bar /*/

.bg-custom {
    background-color: #161A3F;
}

.nav-list {
    padding-right: 10px;
    color: white;
}

.nav-link {
    color: #ffffff;
}

/*/ issues.html and myissues.html/*/

.issue-card {
    margin-top: 20px;
}

#issue-title {
    font-size: 1rem;
    text-decoration: none;
    color: #0D1DB8;
} 

#btn-read-more {
    background-color: #0D1DB8;
    border-radius: 0;
    border-color: #0D1DB8;
    margin-left: 25px;
    color: #F3E5E5;
}

.btn-read-more:hover {
    color: #ffffff;
}


.btn-edit {
    margin-left: 20px;
    border: none;
    color: #F3E5E5;
    background-color: #0D1DB8;
    padding: 6.5px 11px;
    
}

/*/ Detail.html /*/


.cart-page {
    background-color: red;
}

.comments-panel {
    position: absolute;
    width: 500px;
    height: 170px;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
}

#issue-details-bg-custom {
    background-color: #F7F7F7;
    border-color: #C8C8C8;
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: .9rem;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

#detail-panel {
    margin-top: 30px;
    border-radius: 0;
}


#comment-btn {    
    text-align: center;
    background-color: #2C3DDB;
    border-color: #2C3DDB;
    border-radius: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: .9rem;
    margin-top: 10px;
    width: 120px;
}

#upvote-btn {
    text-align: center;
    background-color: #2C3DDB;
    border-color: #2C3DDB;
    border-radius: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: .9rem;
    color: #fff;
    margin-left: 5px;
}

#upvote {
    margin-top: 10px;
}

#comments {
    width: 38%;
    margin-top: 10px;
}



/*/ cart.html /*/


.cart-header {
    margin-top: 50px;
    background: #DEE1FA;
    padding-bottom: 38px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 3.2px 3.8px 7px 0 rgba(0,0,0,0.2);
}

.cart-icon {
    font-size: 5rem;
    margin: 30px auto 30px auto;
    color: #3943A6;
}

.cart-title {
    text-align: center;
    font-size: 1.3rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#cart-card {
    margin-top: 50px;;
}

.product-title {
    color: #28a745;
}

.param {
    margin-bottom: 7px;
    line-height: 1.4;
    font-size: .9rem;
}
.param-inline dt {
    display: inline-block;
}
.param dt {
    margin: 0;
    margin-right: 7px;
    font-weight: 600;
}
.param-inline dd {
    vertical-align: baseline;
    display: inline-block;
}

.param dd {
    margin: 0;
    vertical-align: baseline;
} 

.shopping-cart-wrap .price {
    color: #007bff;
    font-size: .9rem;
    font-weight: bold;
    margin-right: 5px;
    display: block;
}

var {
    font-style: normal;
}

#total-checkout {
    float: right;
    margin: 12px 5px;
    font-weight: bold;
    font-size: 1.2rem;
}

.total-price {
    margin-right: 2px;
}

.total {
    margin-right: 10px;
}

.btn-add {
    background-color: #3943A6;
    color: #fff;
}

@media screen and (max-width: 576px) {
    .last {
        display: none;
    }
    #total-checkout {
        float: left;
    }
    #btn-mob-checkout {
        float: right;
        margin: 10px 7px 0 0;
        display: block;
    }
    #btn-mobile {
        display: block;
        margin-top: 10px;
    }
}

@media (min-width: 577px) {
    #btn-mob-checkout {
        display: none;
    }
    #btn-mobile {
        display: none;
    }
}


@media (max-width: 768px) {
    .cart-header {
        width: 85%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    .cart-header {
        width: 70%;
    }
}