@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

body {
    font-family: 'Montserrat', sans-serif !important;
    font-size: .9rem !important;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

/*/ Navigation Bar /*/

.bg-custom {
    background-color: #4E5CE4;
}

.nav-list {
    padding-right: 10px;
    color: white;
}

.nav-link {
    color: #ffffff;
}