{% extends 'base.html' %}

{% block content %}


<div class="row">
  <div class="col-md-8">
    <div class="list-group w-50" id="detail-panel">
      <button type="button" class="list-group-item list-group-item-action active" id="issue-details-bg-custom">
          Issue Details
      </button>
      <button type="button" class="list-group-item list-group-item-action">Issue name: {{ issue.name }}</button>
      <button type="button" class="list-group-item list-group-item-action">Label: {{ issue.varieties }}</button>
      <button type="button" class="list-group-item list-group-item-action">Description: {{ issue.description }}</button>
      <button type="button" class="list-group-item list-group-item-action">Created by: {{ issue.created_by }}</button>
      <button type="button" class="list-group-item list-group-item-action">Creation date: {{ issue.created_at }}</button>
      <button type="button" class="list-group-item list-group-item-action">Status: {{ issue.status }}</button>
    </div>
  </div> 

  <div class="col-md-4">
    {% for comment in issue.comments.all %}
      <div class="comments-panel">
        <div class="comment-detail">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <p>{{ comment.created_by }}</p>
       
           
              <p>{{ comment.created_at }}</p>
  
            <p>{{ comment.comment }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- Add to cart and comment -->
<div class="row">
  <form method="POST" action="{% url 'add_to_cart' issue.id %}">
    {% csrf_token %}
     {% if issue.varieties == issue.FEATURE %}
      <div class="input-group" id="upvote">
        <input name="quantity" type="number" min="1" max="999" class="form-control" style="margin-left: 14px;" placeholder="Nº">
        <span class="input-group-btn">
          <button class="btn btn-succcess" type="submit" id="upvote-btn">Upvote</button>
        </span>
      </div> 
      {% endif %}
  </form>

  <a href="{% url 'create_comment' issue.id %}" class="btn w-25" id="btn-read-more">Comment</a>
</div>

{% endblock %}