{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">All Issues</h1>

    {% for issue in issues %}
<div class="accordion issue-card" id="accordionExample">
    <div class="card" style="width: 35rem;">    
    <div class="card-header" id="headingOne{{ forloop.counter }}">
        <h5 class="mb-0">
                <button class="btn btn-link" id="issue-title" type="button" data-toggle="collapse" data-target="#collapseOne{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseOne{{ forloop.counter }}">
                {{ issue.name}}
                </button>
            </h5>
        </div>
    <div id="collapseOne{{ forloop.counter }}" class="collapse " aria-labelledby="headingOne{{ forloop.counter }}" data-parent="#accordionExample">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Description: {{ issue.description }}</li>
                <li class="list-group-item">Date created: {{ issue.date_created }}</li>
                <li class="list-group-item">Created by: {{ issue.created_by }}</li>
        </div>
      <a href="{% url 'get_detail' issue.id %}" class="btn w-25" id="btn-read-more">Read more</a>
    </div>
    </div>
</div>
    {% endfor %}
       

{% endblock %}


