{% extends 'base.html' %}

{% block content %}
<div class="row row-flex">
    {% for issue in issues %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">
            <div class="issue"></div>
            <h3>{{ issue.title }}</h3>
            <p class="issue_description">Description: {{ issue.description }}</p>
            <p>Date: {{ issue.date_created }}</p>
            <p>User: {{ issue.user }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}